@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@400;700&display=swap');

body {
  background-image: url('/src/assets/AcrobaticSociableLadybug-size_restricted.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Noto Sans Mono', monospace;
}


